<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leapfrogandroid">

    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>

    <uses-permission android:required="true" android:name="android.permission.WRITE_SMS" />
    <uses-permission android:required="true" android:name="android.permission.READ_SMS" />
    <uses-permission android:required="true" android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/leaper"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.leapfrog.activities.ConversationsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.leapfrog.activities.ChatActivity"
            android:parentActivityName="com.leapfrog.activities.ConversationsActivity"  />
        <activity
            android:name="com.leapfrog.activities.RegistrationActivity"
            android:parentActivityName="com.leapfrog.activities.LoginActivity"/>
        <activity android:name="com.leapfrog.activities.LoginActivity" />
        <activity
            android:name="com.leapfrog.activities.SettingsActivity"
            android:parentActivityName="com.leapfrog.activities.ConversationsActivity"/>
        <activity
            android:name="com.leapfrog.activities.ProfileActivity"
            android:parentActivityName="com.leapfrog.activities.ConversationsActivity" />
    </application>
</manifest>